/* Reset default margin and padding */
body, h3 {
  margin: 0;
  padding: 0;
}

/* Center the card */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Card container */
.card {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  display: flex; 
  flex-direction: column; 
  position: relative; 
}

/* Card image */
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center; 
  transition: transform 0.3s ease;
}

/* Card content */
.card-content {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  transition: opacity 0.3s ease;
  opacity: 0;
}

/* Destination Name */
.card-content h3 {
  font-family: 'Arial', sans-serif;
  font-size: 2rem;
  color: #333;
}

/* Card hover effects */
.card:hover {
  transform: translateY(-5px);
}

.card:hover img {
  transform: scale(1.1);
}

.card:hover .card-content {
  opacity: 1;
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
  
  .card {
    width: 250px;
    height: auto;
  }

  
  .card-content {
    padding: 10px; 
  }

  
  .card-content h3 {
    font-size: 1.5rem;
  }
}
