/* Apply box-sizing to all elements */
* {
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom right,rgb(66, 67, 75),rgb(119, 123, 128));
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

hr {
    border: 1px solid #5c5b5b;
    margin-bottom: 25px;
}

/* Container for the form */
.container {
    max-width: 600px; 
    margin: 20px auto; 
    padding: 20px;
    background-color: #fff; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

/* Headings */
h1 {
    font-size: 24px; 
    margin-bottom: 20px; 
}

/* Labels */
label {
    font-weight: bold; 
    margin-bottom: 15px; 

}


label[for="travelMonth"],
label[for="region"] {
    display: block;
    margin-bottom: 10px; 
}

/* Checkbox group */
.checkbox-group {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
    font-size: small;
    margin-bottom: 10px;
    margin-top: 5px;
}

.checkbox-group label {
    flex-basis: 50%; 
}


/* Input fields */
input[type="text"],
input[type="email"],
select,
textarea,
input[type="month"] {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-shadow: none; 
    box-sizing: border-box; 
}

input:focus {
    outline:auto;
}

/* Textarea resizing handle */
textarea {
    resize: vertical; 
}



/* Styling for fields that are required but imcomplete */
input:invalid {
    border: 2px solid red;
}

/* hightlight active and hover */
input:focus, input:hover {
    background-color: rgb(237, 237, 241);
    border: 1px solid #c6c6cc;
}



/* Submit button */
.submitbtn {
    width: 100%; 
    padding: 12px; 
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 

}

.submitbtn:hover {
    background-color: #0056b3;
}
