
.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 10px 0;
  z-index: 1000;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar li {
  display: inline;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.2s;
}

.navbar a:hover {
  background-color: #111;
}

body {
  font-family: sans-serif;
  margin: 5px;
  padding: 5px;
  text-align: justify;
}

h1, h2, h3 {
    font-weight: bold;
  }

.header {
  text-align: center;
  margin-bottom: 20px;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 30px 0;
}
